//Box Shadow
.shadow() {
	&0 {
		box-shadow: none;
	}
	&1 {
		box-shadow: 0PX 2PX 1PX -1PX fade(@common[black], 20%),
			0PX 1PX 1PX 0PX fade(@common[black], 14%),
			0PX 1PX 3PX 0PX fade(@common[black], 12%);
	}
	&2 {
		box-shadow: 0PX 3PX 1PX -2PX fade(@common[black], 20%),
			0PX 2PX 2PX 0PX fade(@common[black], 14%),
			0PX 1PX 5PX 0PX fade(@common[black], 12%);
	}
	&3 {
		box-shadow: 0PX 3PX 3PX -2PX fade(@common[black], 20%),
			0PX 3PX 4PX 0PX fade(@common[black], 14%),
			0PX 1PX 8PX 0PX fade(@common[black], 12%);
	}
	&4 {
		box-shadow: 0PX 2PX 4PX -1PX fade(@common[black], 20%),
			0PX 4PX 5PX 0PX fade(@common[black], 14%),
			0PX 1PX 10PX 0PX fade(@common[black], 12%);
	}
	&5 {
		box-shadow: 0PX 3PX 5PX -1PX fade(@common[black], 20%),
			0PX 5PX 8PX 0PX fade(@common[black], 14%),
			0PX 1PX 14PX 0PX fade(@common[black], 12%);
	}
	&6 {
		box-shadow: 0PX 3PX 5PX -1PX fade(@common[black], 20%),
			0PX 6PX 10PX 0PX fade(@common[black], 14%),
			0PX 1PX 18PX 0PX fade(@common[black], 12%);
	}
	&7 {
		box-shadow: 0PX 4PX 5PX -2PX fade(@common[black], 20%),
			0PX 7PX 10PX 1PX fade(@common[black], 14%),
			0PX 2PX 16PX 1PX fade(@common[black], 12%);
	}
	&8 {
		box-shadow: 0PX 5PX 5PX -3PX fade(@common[black], 20%),
			0PX 8PX 10PX 1PX fade(@common[black], 14%),
			0PX 3PX 14PX 2PX fade(@common[black], 12%);
	}
	&9 {
		box-shadow: 0PX 5PX 6PX -3PX fade(@common[black], 20%),
			0PX 9PX 12PX 1PX fade(@common[black], 14%),
			0PX 3PX 16PX 2PX fade(@common[black], 12%);
	}
	&10 {
		box-shadow: 0PX 6PX 6PX -3PX fade(@common[black], 20%),
			0PX 10PX 14PX 1PX fade(@common[black], 14%),
			0PX 4PX 18PX 3PX fade(@common[black], 12%);
	}
	&11 {
		box-shadow: 0PX 6PX 7PX -4PX fade(@common[black], 20%),
			0PX 11PX 15PX 1PX fade(@common[black], 14%),
			0PX 4PX 20PX 3PX fade(@common[black], 12%);
	}
	&12 {
		box-shadow: 0PX 7PX 8PX -4PX fade(@common[black], 20%),
			0PX 12PX 17PX 2PX fade(@common[black], 14%),
			0PX 5PX 22PX 4PX fade(@common[black], 12%);
	}
	&13 {
		box-shadow: 0PX 7PX 8PX -4PX fade(@common[black], 20%),
			0PX 13PX 19PX 2PX fade(@common[black], 14%),
			0PX 5PX 24PX 4PX fade(@common[black], 12%);
	}
	&14 {
		box-shadow: 0PX 7PX 9PX -4PX fade(@common[black], 20%),
			0PX 14PX 21PX 2PX fade(@common[black], 14%),
			0PX 5PX 26PX 4PX fade(@common[black], 12%);
	}
	&15 {
		box-shadow: 0PX 8PX 9PX -5PX fade(@common[black], 20%),
			0PX 15PX 22PX 2PX fade(@common[black], 14%),
			0PX 6PX 28PX 5PX fade(@common[black], 12%);
	}
	&16 {
		box-shadow: 0PX 8PX 10PX -5PX fade(@common[black], 20%),
			0PX 16PX 24PX 2PX fade(@common[black], 14%),
			0PX 6PX 30PX 5PX fade(@common[black], 12%);
	}
	&17 {
		box-shadow: 0PX 8PX 11PX -5PX fade(@common[black], 20%),
			0PX 17PX 26PX 2PX fade(@common[black], 14%),
			0PX 6PX 32PX 5PX fade(@common[black], 12%);
	}
	&18 {
		box-shadow: 0PX 9PX 11PX -5PX fade(@common[black], 20%),
			0PX 18PX 28PX 2PX fade(@common[black], 14%),
			0PX 7PX 34PX 6PX fade(@common[black], 12%);
	}
	&19 {
		box-shadow: 0PX 9PX 12PX -6PX fade(@common[black], 20%),
			0PX 19PX 29PX 2PX fade(@common[black], 14%),
			0PX 7PX 36PX 6PX fade(@common[black], 12%);
	}
	&20 {
		box-shadow: 0PX 10PX 13PX -6PX fade(@common[black], 20%),
			0PX 20PX 31PX 3PX fade(@common[black], 14%),
			0PX 8PX 38PX 7PX fade(@common[black], 12%);
	}
	&21 {
		box-shadow: 0PX 10PX 13PX -6PX fade(@common[black], 20%),
			0PX 21PX 33PX 3PX fade(@common[black], 14%),
			0PX 8PX 40PX 7PX fade(@common[black], 12%);
	}
	&22 {
		box-shadow: 0PX 10PX 14PX -6PX fade(@common[black], 20%),
			0PX 22PX 35PX 3PX fade(@common[black], 14%),
			0PX 8PX 42PX 7PX fade(@common[black], 12%);
	}
	&23 {
		box-shadow: 0PX 11PX 14PX -7PX fade(@common[black], 20%),
			0PX 23PX 36PX 3PX fade(@common[black], 14%),
			0PX 9PX 44PX 8PX fade(@common[black], 12%);
	}
	&24 {
		box-shadow: 0PX 11PX 15PX -7PX fade(@common[black], 20%),
			0PX 24PX 38PX 3PX fade(@common[black], 14%),
			0PX 9PX 46PX 8PX fade(@common[black], 12%);
	}
}
